@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

.had1
{
text-align: center;
color: white;
margin-top: -10px;
position: relative;
}
.had2
{
  color:white;

}
.had3
{
  font-size: 50px;
  color: white;
  text-align: center;
  position: relative;
}
.had4
{
  color: white;
  text-align: center;
  margin-left: 24%;
  margin-right: 24%;
  position: relative;
}
.had5
{
  text-align: center;
  color: white;
}
.had6
{
  color: white;
  font-size:20px;
  font-family: sans-serif;
  position: relative;
}
.had7
{
  color: white;
  font-size:15px;
  font-family: sans-serif;
  position: relative;
  text-align: center;
}
.had8
{
  color: white;
  font-size: 24px;
  text-align: center;
  margin-left: 24%;
  margin-right: 24%;
  position: relative;
}
#id1:hover
{
  color: #bbbbbb;
}
#id2:hover
{
  color: blue;
}
#id3
{
    width:300px;
    border-width:0 0 1px;
    position: relative;
    margin-left: 380px;
}

#id3:hover
{

    border-width:2px;
    border-color:blue;
    background-color:black;opacity:0.4;
}
#id4
{
  position: relative;
  margin-left: 70px;
  background-color: white;
  border: none;
  width: 100px;
  padding: 7px;
}
#id4:hover
{
  background-color: #00bcd4;
}
::placeholder
 {
  color: white;
}
.vv
{
    width:auto; min-width: 100%;
    width:auto;min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    position:fixed;
}
.div1
{
  position: fixed;
  margin-top: -8%;
}
#features
{
  padding: 7% 15%;
}
.features
{
  margin-top: -13%;
}
.feature
{
  margin-top: -8%;
}
.feature-box
{
 text-align: center;
 padding: 5%;
 color: white;
}
.vl
{
  position: fixed;
  position: relative;
 border-left: 3px solid white;
 height: 50px;
 margin-left: 50%;
}
.tab
{
  margin-left: 40%;
  margin-right:20%;
}
hr
{
  width: 55%;
  background: white;
  /* border-radius: 5px; */
  border:none;
  position: relative;
}
.hr1
{
  margin-top: 20%;
  width: 55%;
  background: white;
  /* border-radius: 5px; */
  border:none;
  position: relative;
}
#wrk
{
  position: relative;
}

.hybridoitc
{
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  transform: translateY(80px);
}

.hybridoitc-cell
{
  -webkit-box-flex: 0;
  flex: 0 1 250px;
  max-width: 250px;
  height: 137.5px;
  margin: 65.4px 12.5px 25px;
  position: relative;
  padding: 0.5em;
  text-align: center;
  z-index: 1;
  box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.1);
}
.hybridoitc-cell_img
{
  object-fit: cover;
  object-position: center;
  filter: grayscale(100%);
}
.hybridoitc-cell_title
{
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 1.75em;
  transition: opacity 350ms;
}
.hybridoitc-cell_title > small
{
  font-weight: 300;
  margin-top: 0.25em;
}
.hybridoitc-cell::before,
.hybridoitc-cell::after
{
  content: '';
}
.hybridoitc-cell::before,
.hybridoitc-cell::after,
.hybridoitc-cell_img
{
  top: -50%;
  left: 0;
  width: 100%;
  height: 200%;
  display: block;
  position: absolute;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: -1;
}
.hybridoitc-cell::before
{
  background: #fff;
  transform: scale(1.055);
}
.hybridoitc-cell::after
{
  background: #111111;
  opacity: 0.7;
  transition: opacity 350ms;
  -webkit-transition: opacity 350ms;
}
.hybridoitc-cell:hover
.hybridoitc-cell_title
{
  opacity: 0;
}
.hybridoitc-cell:hover
.hybridoitc-cell_img
{
  filter: grayscale(0%);
}
.hybridoitc-cell:hover::before
{
  background: #fc5130;
}
.hybridoitc-cell:hover::after
{
  opacity: 0;
}
.hybridoitc_Hidden
{
  display: none;
  opacity: 0;
  width: 250px;
  margin: 0 12.5px;
}

/****** Responsive *******/

@media (max-width: 550px)
{
  .hybridoitc-cell
  {
    margin: 81.25px 25px;
  }
}


@media (min-width: 550px) and (max-width: 825px)
{
  .honeycomb-cell:nth-child(3n)
  {
    margin-right: calc(50% - 125px);
    margin-left: calc(50% - 125px);
  }

  .honeycomb_Hidden:nth-child(3n + 5)
  {
    display: block;
  }
}


@media (min-width: 825px) and (max-width: 1100px) {

  .honeycomb-cell:nth-child(5n + 4)
  {
    margin-left: calc(50% - 275px);
  }

  .honeycomb-cell:nth-child(5n + 5)
  {
    margin-right: calc(50% - 275px);
  }

  .honeycomb_Hidden:nth-child(5n),
  .honeycomb_Hidden:nth-child(5n + 3)
  {
    display: block;
  }
}
@media (min-width: 1100px)
{
  .honeycomb-cell:nth-child(7n + 5) {
    margin-left: calc(50% - 400px);
  }

  .honeycomb-cell:nth-child(7n + 7),
  .honeycomb-cell:nth-child(7n + 5):nth-last-child(2)
  {
    margin-right: calc(50% - 400px);
  }

  .honeycomb_Hidden:nth-child(7n + 7),
  .honeycomb_Hidden:nth-child(7n + 9),
  .honeycomb_Hidden:nth-child(7n + 11)
  {
    display: block;
  }
}
